<footer>
    <div class ="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-solid fa-x"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
    <div> &copy airbnb</div>
    <div class ="f-info-links">
        <a href="">privacy</a>
        <a href="">contract</a>
        <a href="">terms</a>
    </div></div>
</footer>