.fa-compass{
    color: rgb(255, 154, 171);
    font-size: 2rem;
}
.f-info-links,.f-info-socials{
width: 100%;
vertical-align: middle;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
 text-align: center;
 height: 8rem;
 background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;

}
.card{

    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
 padding: 0 !important;
}

.listing-link{
    text-decoration: none;
}
#showimg{
    height: 35rem;
}